.containerRegister
{
    background-color:cadetblue;
    text-align: center;
    padding: 10px 20px;
    width: 500px;
}

.container-title
{
    color:blue;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-label
{
    font-weight: bolder;
    color:darkgreen;
}